body {
    font-family: sans-serif;
    font-weight: lighter;
	text-align: center;
	margin: 0 auto;
}
label {
    display: block;
	margin: 1em;
}
input, button {
    padding: .7em;
    margin: .3em;
    border-radius: 3.5em;
}
#video{
	width: 325px;
	height: 225px;
	display: inline-block;
	margin-top: 0.5em;
}
input {
    display: block;
    font-size: 1em;
}
#imgDiv{
	margin-top: 2em;
}
img {
    max-width: 100%;
    display: block;
}
.hidden {
 	display: none;
}
#wrapper{
	padding-top: 2em;
	display:inline-block;
}
#responseTextArea{
	width:640px; 
	height:480px;
}
